<header class="header-app">
    <div>
        <h1>{{'app.title' | translate}}</h1>
        <a class="logo-github" href="https://github.com/nFonsat"></a>
    </div>
    <button type="button" class="btn btn-danger btn-sm button-commit">
        <span class="glyphicon glyphicon-align-justify"></span>
        {{ titleRepository }}
    </button>
</header>
<section class="section-homepage">
    <ul class="nav nav-tabs nav-justified" role="tablist">
       <li>
            <a ng-href="#/repository/{{ userRepository }}/{{ titleRepository }}/committer">Liste des committers</a>
        </li>
        <li class="active">
            <a ng-href="#/repository/{{ userRepository }}/{{ titleRepository }}/commit">Liste des commits</a>
        </li>
        <li>
            <a ng-href={{'#/'}}>Retour à la page d'accueil</a>
        </li>
    </ul>

    <div class="title-section">
        <h2>Commits du répository "{{ titleRepository }}"</h2>

        <h3>{{ valueCalendar }}</h3>

        <canvas id="chart-list-commit" 
            class="resolution-canvas shadow-canvas"
            data-ng-init="initCommits()">
        </canvas>

        <div class="m-top20">
            <button type="button" 
                class="btn btn-danger btn-sm button-commit"
                ng-click="allCommit()">
                <span class="glyphicon glyphicon-stats"></span>
                Tout les commits
            </button>

            <button type="button" 
                class="btn btn-danger btn-sm button-commit"
                ng-repeat="year in tabYears" ng-click="affiner(year)">
                <span class="glyphicon glyphicon-stats"></span>
                {{ year }}
            </button>
        </div>
    </div>
</section>
<footer class="footer-app m-top20">
    <p>{{ 'footer' | translate }}</p>
</footer>